* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}

/* utility */
.display-flex {
  justify-content: space-between;
  padding: 20px;
  border: 2px solid red;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.primary-btn {
  background-color: #058a4e;
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 12px 20px;
  border-radius: 20px;
}

.nav-items {
  display: flex;
  gap: 30px;
}

.nav-items li {
  list-style: none;
}

.nav-items li a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

/* hero styling */
.hero-container {
  padding: 50px 20px;
  display: flex;
}

.hero-text-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.hero-text {
  background-color: #e8f5ef;
  width: fit-content;
  border-radius: 20px;
  padding: 5px 15px;
}

.hero-heading {
  font-size: 50px;
}

.hero-paragraph {
  color: #6b6b6b;
}

.hero-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero-list li {
  color: #058a4e;
}

.cta-buttons {
  display: flex;
  gap: 20px;
}

.outlined-btn {
  background-color: #ffffff;
  text-decoration: none;
  color: #000;
  padding: 12px 20px;
  border-radius: 20px;
  border: 1px solid #000;
  display: inline-block;
}

.hero-image {
  width: 300px;
  height: 300px;
  border-radius: 20px;
}

.hero-image-wrapper {
  margin-left: 30px;
}

/* how it works */
.how-it-works {
  background-color: #f8f8f8;
  padding: 50px 20px;
}

.how-it-works-title {
  text-align: center;
}

.how-it-works-title h3 {
  font-size: 40px;
  font-weight: 500;
}

.how-it-works-title p {
  color: #6b6b6b;
}

.how-it-works-cards {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}

.how-it-works-card {
  background-color: #ffffff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.how-it-works-card span {
  background-color: #e8f5ef;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* everything you need section */
.everything-container {
  padding: 50px 20px;
}

.everything-title {
  text-align: center;
}

.everything-title h3 {
  font-size: 40px;
  font-weight: 500;
}

.everything-title p {
  color: #6b6b6b;
}

.everything-cards {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}

.everything-card {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 5px;
  background-color: #ffffff;
}

.everything-card li {
  list-style: none;
}

.everything-card li span {
  padding-right: 5px;
}

/* simplify shopping section */
.simplify-shopping-container {
  background-color: #058a4e;
  padding: 50px 20px;
}

.simplify-card {
  background: rgb(75, 151, 112);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 5px;
}

.create-account {
  background-color: #ffffff;
  display: inline-block;
  padding: 12px 20px;
  border-radius: 5px;
  text-align: center;
}

.create-account a {
  text-decoration: none;
  color: #000;
}

.create-account a:hover {
  background-color: #058a4e;
}

.simplify-card h3 {
  font-size: 30px;
  font-weight: 500;
}

/* footer */
.footer {
  padding: 30px;
  display: flex;
  gap: 20px;
}